.no-data-found-svg {
    /* max-width: 300px;
    height: auto; */
    margin: 0 auto;
}

/* .slds-illustration_small .no-data-found-svg {
    max-width: sizeSmall;
}

.slds-illustration_medium .no-data-found-svg {
    max-width: sizeMedium;
}

.slds-illustration_large .no-data-found-svg {
    max-width: sizeLarge;
}

.slds-illustration.slds-illustration_large p {
    margin-bottom: 0 !important;
} */